body
{
	margin:0 !important;
	padding:0 !important; 
	font-family: 'Poiret One', cursive;
	height:100%;
	
}
#content
{
	min-height:1050px;	
	width:100%;
	position:relative;
	
}
#left
{
	
	min-height:100%;
	position:relative;
	width:70%;
	float:left;
	
}
#left-up{
	height:200px;

}
#cart
{
	position:absolute;
	margin-top:1%;
	margin-left:10%;
	width:480px;
	height:150px;	
	position:absolute;
	position:absolute;
	top:-20px;
	font-size:42px;
	text-align:center;
	line-height:400%;
	color:white;
	
	
	
}
#cart-one
{	
	background-color: #606060;
	height:150px;
	width:15%;
	float:left;
	border-radius: 0 0 20px 20px;
	opacity:0.7;
	color:white;
	
	
}
#cart-one:hover
{
	background-color:  #808080;
	color:white;
	font-weight: bold;
	border: 2px solid white;
	height:155px;
	font-size:48px;
	
}

#cart-two
{	
	
	background-color: #606060;
	height:150px;
	width:15%;
	float:left;	
	color:white;
	border-radius: 0 0 20px 20px;
	box-shadow: 5px 5px 3px 0px rgba(155,155,155,1);
	 
	
	
}
#cart-two:hover
{
	background-color:  #808080;
	color:white;
	font-weight: bold;
	border: 2px solid white;
	height:155px;
	font-size:48px;
	
	
}
#logo 
{
	padding-left: 75%;
	padding-top:2.5%;	
}
#left-content{
	margin-left:2.5%;
	height:600px;
	width:100%;
	border: 1px solid rgb(166,166,166);
	box-shadow: inset 0px 0px 13px 3px rgba(166,166,166,1);
	overflow:auto;
	text-align:center;
	font-size:30px;
	
}
#right
{
	width:25%;
	min-height:800px;	
	float:left;
	margin-left:3.5%;
	

}
#profile
{
	background-color:#DDD;
	min-height:650px;
	margin:5%;
	border: 2px solid grey;
	box-shadow: 10px 10px 10px 0px rgba(155,155,155,1);
	
	
}
#avatar
{
	
	position:relative;
	height:250px;
	text-align:center;
	margin:auto;
	margin-top:10%;
}
#avatar-img
{
	position:relative;
	margin:auto;
	
}
#avatar-login
{
	position:relative;
	color:white;
	font-size:18px;
	line-height:200%;		
	width:auto;
	height:50px;
	margin:auto;
	
	
}
ul li {
		position:relative;
		list-style-type:none;
		margin-top:10%;
		margin-left:-20%;
		font-size:25px;
		left:-30%;		
		display:block;
		background-color: #AAA;
		height:50px;
		width:250px;
		box-shadow: 5px 5px 2px 0px rgba(155,155,155,1);
		
	}
	ul li:hover
	{
		background: linear-gradient(to bottom, rgba(219,225,188,1) 0%, rgba(179,211,18,1) 100%);
		
		
	}
        li>a
        {
            display: block;
            text-decoration: none; 
        }
#title-settings
	{
		position:relative;
		left: 35px;
		font-weight:bold;
		color: #656565;
		margin-left:auto;
			
	}
#description-settings
{	
	position:relative;
	left:35px;
	top:-9px;
	font-size:14px;
	color:white;
	
}
	
#settings{
	
	
	width:50%;
	min-height:400px;
	margin:auto;
	
	
}
#user-point
{	padding-right: 15px;
	text-align:right;
	
}
#footer
{

	position:absolute;
	text-align:center;
	bottom: 0;
	height:100px;	
	width:100%;
	background-color:#525252;
}
#text-footer
{
		position:relative;
		padding-top:50px;
		color:red;
		font-size:20px;
}

#tiles
{
	padding:10px;
	
}
.buttonClass
{
	position: absolute; top: 50%; right: 0; bottom: 0; left: 0; margin: auto;
		
	width:300px;
	height:50px;
	background: #0bdf00;
    border: 1px solid rgba(33, 68, 72, 0.1);
	color: rgba(0, 0, 0, 0.55);
	background: rgba(210,255,82,1);
	background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 47%, rgba(145,232,66,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(47%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
	background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 47%, rgba(145,232,66,1) 100%);
	background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 47%, rgba(145,232,66,1) 100%);
	background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 47%, rgba(145,232,66,1) 100%);
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 47%, rgba(145,232,66,1) 100%);
	
}
.themeClass
{
	position:relative;
	top:40%;
	padding: 15px;
	float:left;
}.inputTheme
{
	position:relative;
	top:40%;
	margin:25px;
	width:120px;
	height:50px;
}
.themeElement
{
	position:relative;
	top:40%;
	width:100px;
	height:70px;
	margin:15px;
	float:left;
}
.tile
{
	width:20%;
	height:14vw;
	background-color:#4c9900;
	float:left;
	margin:2.5%;
	text-align:center;
	font-size:35px;
	color:white;
	  box-shadow: 7px 7px 3px 0px rgba(155,155,155,1);
	  border-radius:5px 5px 5px 5px;

	   
	 
	
}
.imgTheme
{
	width: 100%;
	height:14vw;
	
	
}
.tile>p
{
	margin-top:40%;
	font-weight:bold;
	text-shadow: 1px 1px black;
	
}
.tile:hover
{
	background: linear-gradient(#336600,#4c9900, #808080);

}
.tile:active
{
	background-color:#66cc00;
}
.text
{
	font-weight:bolder;
	line-height:2;
	text-shadow:2px 2px white;
	
}